.main_clean {
    background: url(../images/main_clean.png);
    background-repeat: no-repeat;
    min-height: 880px;
    margin-top: -26px;
}
.main_clean_content {
    padding: 183px 72px 0px 72px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.clean_title {
    color: rgb(255, 255, 255);
    font-family: var(--rel);
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
    letter-spacing: 0px;
    text-align: left;
}
.clean_text {
color: rgb(255, 255, 255);
font-family: var(--rel);
font-size: 24px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0px;
text-align: left;
}
.clean_btn {
    box-shadow: none;
    border: none;
    max-width: max-content;
      padding: 10px 15px;
      background: rgb(238, 149, 5);
      color: rgb(25, 25, 23);
font-family: var(--web);
font-size: 20px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
}
.price_active{
    display: none;
}
.modal__window_price {
    width: 300px;
    height: 400px;
    background: var(--primaryColor);
    border-radius: 20px;
   margin-top: -178px;
}
.modal_price {
   padding-top: 40px;
    display: flex;
    flex-direction: column;
    
}
.met {
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid rgb(238, 149, 5);
    width: 200px;
    height: 40px;
    padding-left: 5px;
font-family: var(--rel);
font-size: 13px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0px;
text-align: left;
}
.met_h {
    color: rgb(255, 255, 255);
    font-family: var(--rel);
    font-size: 12px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 55px;
    margin-top: -8px;
}
.measure {
    max-width: max-content;
    margin: 0 auto;
    background: var(--primaryColor);
    color: rgb(238, 149, 5);
    font-family: var(--rel);
    font-size: 15px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
    padding: 5px 10px 5px 10px;
    border: 1px solid rgb(238, 149, 5);
    border-radius: 5px;
    margin-top: 50px;
}

.price_indicator {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 76px;
}
.pr {
    width: 22px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
}
.total__price_h2 {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    margin-top: 25px;
}
.price__sale {
    font-family: var(--sava);
    font-size: 40px;
    font-weight: 900;
    color: red;
}
.total_price {
    color: #fff;
font-family: var(--rel);
font-size: 28px;
font-weight: 500;
line-height: 53px;
letter-spacing: 0px;
text-align: center;
}
@media (max-width:992px) {
    .main_clean {
        background-position:right;
        background-size: cover;
    }
}
@media (max-width:762px) {
    .main_clean {
        background-position: right;
        background-size: cover;
        max-height: 30px;
        height: 100%;
    }
    .main_clean_content {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 130px 0px 0px 35px;
    }
    .clean_title {
        font-size: 60px;
    }
    .clean_text {
        font-size: 18px;
        padding-right: 15px;
    }
}
@media (max-width:564px) {
    .main_clean {
        background-position: right;
    }
    .clean_title {
        padding-right: 10px;
        font-size: 55px;
    }
    .clean_text {
        font-size: 16px;
    }
    .clean_btn {
        font-size: 18px;
        padding: 5px 10px;
    }
    .modal__window_price {
        margin-top: -178px;
    }
}
@media (max-width:480px) {
    .main_clean {
        background-position: right;
    }
    .modal__window_price {
        margin-top: -314px;
    }
    .clean_title {
        padding-right: 10px;
        font-size: 45px;
    }
    .clean_text {
        font-size: 16px;
    }
    .clean_btn {
        font-size: 18px;
        padding: 5px 10px;
    }
}
